{% extends "_template.html" %}

{% block body %}
<div class="container">
    <nav class="navbar">
        <div class="container">
        <ul class="navbar-list">
          <li class="navbar-item"><a class="navbar-link active">Home</a></li>
          <li class="navbar-item"><a class="navbar-link" href="/blog">Blog</a></li>
        </ul>
      </div>
    </nav>
    <section class="header">
        <h2>Bogdan Sima</h2>
        <p>Serial mistaker. Follow my mistakes on <a href="https://twitter.com/dbsima">Twitter</a>, <a href="https://www.instagram.com/dbsima/">Instagram</a> or read about them <a href="/blog">here</a>. I am also a programmer at <a href="https://www.gymglish.com/">Gymglish</a> (and previously an intern at Adobe & Avira.) Born in Romania, now living in Paris.</p>
    </section>
    <div id="projects">
        <h5>Projects</h5>
        <ul>
            <li>A <a href="https://github.com/dbsima/founded-in-romania">curated list</a> of fresh Romanian start-ups.</li>
        </ul>
    </div>
</div>
{% endblock %}
